# django
Django==3.2.6
asgiref==3.4.1
pytz==2021.1
sqlparse==0.4.1

# django REST frameWork
djangorestframework==3.12.4

# Markdown
Markdown==3.3.4

# Miscellaneous
certifi==2021.5.30
charset-normalizer==2.0.4
idna==3.2
requests==2.26.0
urllib3==1.26.6

# ptpython
ptpython==3.0.19
appdirs==1.4.4
jedi==0.18.0
prompt-toolkit==3.0.20
Pygments==2.10.0
wcwidth==0.2.5

# drf-yasg - Yet another Swagger generator
coreapi==2.3.3
coreschema==0.0.4
drf-yasg==1.20.0
inflection==0.5.1
itypes==1.2.0
Jinja2==3.0.1
MarkupSafe==2.0.1
packaging==21.0
parso==0.8.2
pyparsing==2.4.7
ruamel.yaml==0.17.14
ruamel.yaml.clib==0.2.6
uritemplate==3.0.1

# WhiteNoise
whitenoise==5.3.0
Brotli==1.0.9

# django-configurations - class-based Django settings
django-configurations==2.2
six==1.16.0

# Constance - Dynamic Django settings
django-constance==2.8.0

# redis-3.5.3
