# django
Django==3.2.6
asgiref==3.4.1
pytz==2021.1
sqlparse==0.4.1

# django REST frameWork
djangorestframework==3.12.4

# Markdown
Markdown==3.3.4

# Miscellaneous
certifi==2021.5.30
charset-normalizer==2.0.4
idna==3.2
requests==2.26.0
urllib3==1.26.6

# ptpython
ptpython==3.0.19
appdirs==1.4.4
jedi==0.18.0
prompt-toolkit==3.0.20
Pygments==2.10.0
wcwidth==0.2.5
